*{
  
  font-family: sans-serif;
  color: white;
  margin: 0;
}


body {
  width: 822px;
  
  }

div {
  
}



.button {
  font-size: 24px;
  border: none;
  background: #958A97;
  height: 40px;
  width: 300px;
  border-radius: 3px;
}

.empty {
  background: white;
  border: 1px solid black;
  width: -2px;
}

.full, .half, .quarter{
  display: inline-block;
  
}

.half {
  width: 380px;
}

.full{
  width: 790px;
}

.quarter{
    width: 160px;
}

#save {
  text-transform: uppercase;
  text-align: center;
}

[id] {
  background:#DDD6CC;
  padding: 15px;
  float: left;
}