<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Anagram checker</title>
</head>
<body>
    <form action="/check" method="post">
        <h1>Give me two strings to check if they are anagrams!</h1>
        <fieldset>
            <legend>The two strings:</legend>
            Number One <br />
            <input type="text" name="one"><br />
            Number Two <br />
            <input type="text" name="two" /><br />
            <input type="submit" value="Check!">
        </fieldset>
    </form>
</body>
</html>