@model Greet.Models.Greeting
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body style="background-image: url(https://media.giphy.com/media/wAVA7WdV2jita/giphy.gif); background-repeat:no-repeat; background-size:cover">
    
            <p style="padding: 50px; font-size:xx-large; font-family: sans-serif; color:antiquewhite">Hello, @Model.Name!</p>
            
</body>
</html>@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
