@model Greet.Models.Greeting
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body style="background-image:url(http://ekladata.com/SNZjGF2l0fSW61Yea6c3hraJHfI.gif); background-repeat:no-repeat; background-size:cover; color:antiquewhite">
    <form method="post">
        <fieldset style="background-color:hsla(247, 19%, 65%, 0.48); padding: 50px; font-size:xx-large; font-family: sans-serif">
            <legend>Add User</legend>
            <div>
                <label for="User">User:</label>
                <input type="text" name="Name" value="" />
            </div>
            <p>
                <input type="submit" value="Submit" />
            </p>
            </fieldset>
        </form>
</body>
</html>@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
