<!DOCTYPE html>

<html>
    <head>
        <title>@ViewBag.Title</title> 
    </head>
    <body>
        <h2>@ViewBag.Title</h2>
        <div>@RenderBody()</div>
        @RenderSection("Footer", false)
    </body>
</html>
