@model Tamagochi.Models.Greeting
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>MyTamagochi</title>
</head>
<body style="color:antiquewhite">
    <form method="post">
        <fieldset style="background-color:hsla(247, 19%, 65%, 0.48); padding: 50px; font-size:xx-large; font-family: sans-serif; color: crimson">
            <legend>Would you like a Tamagochi? Add here:</legend>
            <div>
                <label for="User">Tamagochi's name:</label>
                <input type="text" name="Name" value="" />
            </div>
            <p>
                <input type="submit" value="Make the egg hatch!" />
            </p>
        </fieldset>
    </form>
    <div style="background-image:url(https://cdn.dribbble.com/users/123583/screenshots/2199691/a_new_day.gif)"; background-repeat:no-repeat; font-size:xx-large; font-family: sans-serif; color: crimson)>
        Here is the egg!
    </div>
</body>
</html>@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
