<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <form method="post">
            <fieldset>
                <legend>New ToDo input:</legend>
                <div>
                    <input type="hidden" id="ID" value="" />
                </div>
                <div>
                    <label for="User">ToDo:</label>
                    <input type="text" toDo="ToDo" value="" />
                </div>
                <div>
                    <input type="radio" />
                    <label for="User">Is Urgent?</label>
                    <input type="text" urgent="Urgent" value="" />
                </div>
                <p>
                    <input type="submit" value="Create New!" />
                </p>
            </fieldset>
        </form>
    </body>
</html>
