@model List<ToDo.Models.ToDoClass>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Add ToDo</title>
    </head>
    <body>
        <form action="/todo/adding" method="post">
            <fieldset>
                <legend>New ToDo input:</legend>
                <div>
                    <input name="ID" type="hidden" id="ID" value="" />
                </div>
                <div>
                    <label for="User">ToDo:</label>
                    <input name="Title" type="text" toDo="ToDo" value="" />
                </div>
                <br />
                <div>
                    <input name="IsDone" type="checkbox" value="true" />
                    Is It Done?
                    <input name="IsUrgent" type="checkbox" value="true" />
                    Is Urgent?
                </div>
                <p>
                    <input type="submit" value="Create New!" />
                </p>
            </fieldset>
        </form>
    </body>
</html>
