@model List<ToDo.Models.ToDoClass>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Deleting ToDo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Css/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <h4>Which one would you like to edit?</h4>
    <form action="/todo/edit" method="post">
        <div style="background-color: rgb(179, 179, 255)">
            ToDos For Today   <span class="badge alert-danger">@Model.Count</span>
        </div>
        <table class="jumbotron, table table-striped, panel panel-default" style="background-image: url(https://i2.wp.com/www.iizziistudio.com/wp-content/uploads/2016/03/BG-Polka-Dots-A-1.jpg?resize=800%2C800)">
            <tr class="panel panel-primary">
                <th>Select here:</th>
                <th>ID</th>
                <th>ToDo</th>
                <th>Done</th>
                <th>Urgent</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr class="panel panel-default">
                    <td><input type="checkbox" name="item" value="item"><br>
                    <td>@item.ID</td>
                    <td>@item.Title</td>
                    <td>
                        @if (item.IsDone)
                        {
                            <span class="glyphicon glyphicon-ok" style="color: limegreen"> </span> ;
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-remove" style="color: crimson"></span>;
                        }
                    </td>
                    <td>
                        @if (@item.IsUrgent)
                        {
                            <span class="glyphicon glyphicon-ok" style="color: limegreen"></span> ;
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-remove" style="color: crimson"></span>;
                        }
                    </td>
                </tr>

            }
        </table>
        <p>
            <input type="submit" value="Seelection is done" />
        </p>
    </form>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>