@model ToDo.Models.ToDoClass

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>SUPERSTAR TO DO LIST</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/StyleSheet.css")" />
</head>
<nav><a href="/new">Add New ToDo</a></nav>
<body>
    <h1>ToDos For Today</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>ToDo</th>
            <th>Done</th>
            <th>Urgent</th>
        </tr>
        <tr>
            <td></td>
            <td>
                first task
                @*@Model.Title.ToString();*@
            </td>
            <td></td>
            <td></td>
        </tr>
    </table>
    
</body>
</html>
