@*@model ToDo.Models.ToDoClass*@

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>SUPERSTAR TO DO LIST</title>
</head>
<body>
    <ul>@*@Model.Title.ToString();*@
    <li>first task</li>
    <li>second task</li>
    </ul>
</body>
</html>
