@model ToDo.Models.ToDoClass

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>SUPERSTAR TO DO LIST</title>
</head>
<body>
    <h1>ToDos For Today</h1>
    <ul><li>@Model.Title.ToString();</li>
    </ul>
</body>
</html>
