@model Contoso.ViewModels.HomeIndexViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>
    <body>
        Hi there @Model.Contact.FirstName @Model.Contact.LastName you work for the @Model.Customer.CustomerName!
    </body>
</html>