@model TripsOfDrWho.Models.Trips

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>New Doctor Character</title>
</head>
<body>
    <form action="/action_page.php" method="post">
        Name <br/>
        <input type="text" name="Name"><br>
        Miles <br/>
        <input type="text" name="Miles" /><br>
        <input type="checkbox" name="IsGood" />Is a good character<br />

        <input type="submit" value="Submit">
    </form>
</body>
</html>