body 
{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



a {
    font-size: 36px;
    padding: 5px;
    margin: 2px;
    border: 2px solid white;
    border-color: antiquewhite;
    text-decoration: none;
    color: white;
    border-radius: 5%;
    background-color: dimgrey;
}

table 
{
    width: 850px;
}
td, tr
{
    border: 1px solid;
    text-align : center;
}
