@model 

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>QuoteApp</title>
</head>
<body>
    <div>Welcome to QuoteApp!</div>
    <button type="submit" value="Submit">Get Quote!</button>
</body>
</html>